services:
  postgres:
    image: postgres:17-alpine
    container_name: flashcard-db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: flashcard
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
